input[type='text'] {
    padding: 1.5rem;
    font-size: 2.8rem;
    border: 1px solid $primary-2;
    outline: none;
    border-radius: 1rem;
    color: $text-primary;
    &:focus {
        outline: 3px solid #333;
    }
}

select {    
    padding: 1.5rem;
    font-size: 2.8rem;
    border: 1px solid #283618;
    outline: none;
    border-radius: 1rem;
    color: #212529;
    height: fit-content;
    appearance: none;
    background-image: url("/src/assets/chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-position: right .75rem center;
   
    &:focus {
        outline: 3px solid #333;
    }
}

button {
    padding: 1.5rem;
    font-size: 2.8rem;
    border: 1px solid $primary-2;
    outline: none;
    border-radius: 1rem;
    background-color: $primary;
    color: $text-primary-light;
    cursor: pointer;
    &:hover{
        background-color: $primary-2;        
    }
}

.input-primary {
    background-color: $blue-light;
}