.page-home {
    .currencyValue {
        text-align: right;
    }
    .converter {
        width: 60rem;
        @include sm{
            width: 100%;
        }
    }
    .row-input {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;

        :first-child {
            width: 100%;
            flex-grow: 1;
        }        

        &::before {
            font: var(--fa-font-solid);
            content: "\f58e";
            font-size: 4rem;
            cursor: grab;
            border: 3px solid #606c38;
            border-radius: 9px;
            padding: 7px;
            @include filter-green-1;
            @include xl{
                display: none;
            }
        }
        &:last-of-type{
            &::before {
                visibility: hidden;
            }
        }
    }
}
