.page-home{
    .currencyValue {
        margin-bottom: 1rem;
    }
    .currency {
        margin-left: 1rem;
    }
    .converter {
        width: 60rem;
    }
    .row-input {
        display: flex;
        justify-content: space-between;
        :first-child {
            width: 100%;
        }
    }
    input[type="text"]{
        text-align: right;
    }
}