.page-home {
    .currencyValue {
        text-align: right;
    }
    .converter {
        width: 60rem;
    }
    .row-input {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;

        :first-child {
            width: 100%;
        }

        &::after {
            font: var(--fa-font-solid);
            content: "\f7a4";
            font-size: 3rem;
            cursor: grab;
            border: 1px solid $text-primary;
            border-radius: 1rem;
            padding: 1.5rem;
        }
        &:last-of-type{
            &::after {
                visibility: hidden;
            }
        }
    }
}
